<!--<div *ngFor="let personaje of characters">
<img src="{{personaje.image}}">
{{personaje.name}}

</div>-->

<!--CON SERVICIO-->

<!--<h2 class="tituloGaleria">GALERÍA DE IMÁGENES</h2>
<div class="contenedorFlexImg">
<div *ngFor="let personaje of personajes">
    <div>
        <img class="imagenesGaleria" src="{{personaje.image}}">
        <p class="nombrePersonajes">{{personaje.name}}</p>
    </div>
</div>
</div>-->



<!--SIN SERVICIO-->
<h2 class="tituloGaleria">GALERÍA DE IMÁGENES</h2>
<div class="contenedorFlexImg">
<div *ngFor="let personaje of characters">
    <div>
        <img class="imagenesGaleria" src="{{personaje.image}}">
        <p class="nombrePersonajes">{{personaje.name}}</p>
    </div>
</div>
</div>

